@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    /* Whatever is changed here needs to be changed in the site plan and vis versa */
    width: 1000px;
    --primary-color: #black;
    --secondary-color:#FEFAE0;
    --accent1-color: # white;
    --accent2-color: #7e8475;


    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;


    --nav-background-color: #283618;
    --nav-link-color: #FEFAE0;
    --nav-hover-link-color: #A16017;
    --nav-hover-background-color: #283618;
}
.hero {
    position: relative;
}
.hero p{
    text-align: left;
    position: absolute;
    padding: 7px;
    padding-right: 200px;
}
h1 {
    text-align: center;
    color: #FEFAE0;
    background-color: #283618;
    position: absolute;
    top: 10%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article img {
    width: 20%;
    height: auto;
     float: right;
    padding-top: 40px;
    padding-right: 17px;

 }
h2{
    text-align: center;
    color: #FEFAE0;
   background-color: #373c3a;
    /*position: absolute;
    top: 20%;*/
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
section {
    position: relative;
    /* border: 2px solid red; */
}


article {
    background-color: white;
    position: absolute;
    top: 40%;
    width: 90%;
    left: 5%;
    height: 200px;
}
header {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /*margin: 3px;*/
    /* border: 2px solid red; */
}
nav{
   text-align: right;
   /* border: 2px solid red; */
}
.navigation{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    /* border: 3px solid blueviolet; */
    text-align: center;
}
.navigation li{
    flex: 1 1 100%;
    /* border: 2px solid yellow; */
    border: 2px solid #FEFAE0;
    padding: 5px;
    background-color: #373c3a;
}
.navigation a {
    display: block;
    color: #dddcac;
    text-decoration: none;
}
header img {
    width: 150px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.history img{
    width: 250px;
    position: center;
}
.history2 {
    display:grid;
    grid-template-columns: 1fr 260px 1fr;
    /* border: 3px solid blueviolet; */
}
.history2 div{
    padding: 5px;
    /* border: 1px solid green;  */
}
.adventure2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 3px solid blueviolet; */
    column-gap: 0;
    padding-left: 0px;
}
.img1 {
    grid-row-start: 1;
    grid-row-end: 3;
    /* border: 1px solid green; */
}
.adventure2 img {
    width: 300px;
    padding: 0;
}
.adventure2 figure{
    /* border: 1px solid green; */
    margin: 0px;
    padding: 0;
    place-items: center;
}
.sociallinks img{
   /*position: absolute;*/
   height: 40px;
}
.sociallinks a {
    text-decoration: none;
   }