@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    /* Whatever is changed here needs to be changed in the site plan and vis versa */
    width: 1000px;
    --primary-color: #283618;
    --secondary-color:#FEFAE0;
    --accent1-color: #white;
    --accent2-color: #565B4D;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;


    --nav-background-color: #283618;
    --nav-link-color: #FEFAE0;
    --nav-hover-link-color: #A16017;
    --nav-hover-background-color: #283618;
    /* border: 2px solid orange; */
}
.trips {
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
}
.hp {
    padding: 4px;
    font-style: italic;
}
table {
    border-collapse: collapse;
    border: 2px solid #283618;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
}
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bolder;
}
/* thead, tfoot {
    background-color: #FEFAE0;
} */
th,td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.column {
    flex: 50%;
    padding: 0 4px;
    width: 50%;
}
.column img {
    width: 95%;
}
.hero, .contact {
    position: relative;
}
.hero p, .contact p{
    text-align: left;
    position: absolute;
    padding: 7px;
    padding-right: 200px;
}
h1 {
    text-align: center;
    color: #FEFAE0;
    background-color: #283618;
    position: absolute;
    top: 5%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    height: 100%;
    display: flex;
    float: right;
    width: 20%;
    padding-right: 17px;
    /* padding: 20px; */
    align-items: center;
}
.hero img, .contact img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article img, .contact article .map {
    width: 100%;
    height: auto;
    float: right;
    /* padding-top: 40px; */
    /* margin: 50%; */
    /* margin-top: 50%;
    margin-bottom: 50%; */
    /* display: flex; */
    top: 50%;
    /* padding-bottom: 50%; */
    /* border: 2px solid red; */
 }
h2{
    text-align: center;
    color: #FEFAE0;
   background-color: #283618;
    /*position: absolute;
    top: 20%;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
section {
    position: relative;
    /* border: 2px solid red; */
}
.contacth3{
    padding-left: 17px;
}
h3{
    font-size: x-large;
}
.trips h4, .trips p, .trips img {
    padding-left: 10px;
}
.address  {
    margin-left: 17px;
    /* border: 2px solid red; */
}
article {
    position: absolute;
    top: 10%;
    width: 90%;
    left: 5%;
    height: 200px;
    /* display: grid;
    align-items: center; */
}
.background {
    background-color: white;
    position: absolute;
    top: 40%;
    width: 90%;
    left: 5%;
    height: 200px;
}
header {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /*margin: 3px;*/
    /* border: 2px solid red; */
}
nav{
   text-align: right;
   /* border: 2px solid red; */
}
.navigation{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    /* border: 3px solid blueviolet; */
    text-align: center;
}
.navigation li{
    flex: 1 1 100%;
    /* border: 2px solid yellow; */
    border: 2px solid #FEFAE0;
    padding: 5px;
    background-color: #283618;
}
.navigation a {
    display: block;
    color: #FEFAE0;
    text-decoration: none;
}
header img {
    width: 100px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.history img, .message img{
    width: 250px;
    /* position: center; */
    align-self: flex-start;
    padding-top: 13%;
}
.history2 {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 35px;
    /* display:grid;
    grid-template-columns: 1fr 260px 1fr; */
    /* border: 3px solid blueviolet; */
}
.history2 div{
    padding: 5px;
    /* border: 1px solid green; */
}
.adventure2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* grid-template-columns: 1fr 1fr 1fr;
    /* border: 3px solid blueviolet; */
    /* column-gap: 0;
    padding-left: 0px; */
}
.adventure2 img {
    width: 100%;
    /* margin: 5px; */
    padding: 0;
}
.adventure2 figure{
    /* border: 1px solid green; */
    margin: 5px;
    padding: 0;
    place-items: center;
    width: 20%;
}
form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #FEFAE0;
    display: grid;
    color: black;
    /* border: solid red; */
}
.subscribe {
    width: 500px;
}
fieldset {
    display: grid;
    grid-gap: .25rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    /* border: solid red; */
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}
.radio-label{
    color: black;
    display: flex;
}
.radio-label input[type="radio"]{
    order: -1;
}
button {
    margin: 1rem;
    background-color: #565B4D;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: #283618;
}
.sociallinks{
    /* display: flex; */
    justify-content: flex-end;
    /* border: 2px solid green; */
    width: 100%;
}
.sociallinks img{
   /*position: absolute;*/
   height: 40px;
}
.sociallinks a {
    text-decoration: none;
   }
footer{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    /* border: 2px solid red; */
}
footer p{
    text-align: center;
    /* align-items: center; */
    width: 1000px;;
    /* border: 2px solid red; */
}
.link-container{
    position: absolute;
    width: 100%;
}